@font-face {
  font-family: nimbus;
  src: url("./fonts/Nimbus-Sans-D-OT-Ultra-Light_32757.ttf");
}

.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(161, 117, 211);
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
}

.navButton {
  display: flex;
  justify-content: center;
  color: rgb(176, 176, 176);
  font-family: nimbus;
  background: none;
  border: none;
}

.activeNavButton {
  height: 35px;
  width: 90px;
  color: rgb(211, 211, 211);
  font-family: nimbus;
  background: none;
  border: 1.5px solid rgb(230, 82, 138);
  border-radius: 20px;
  font-weight: bold;
}

.logo {
}

.closeButton {
  /* display: block;
  float: left;
  position: relative;
  left: 20px;
  margin-top: 30px; */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgDiv {
  position: relative;
}

.gridImg {
  /* display: block !important;
  width: 100% !important;
  height: auto !important; */
}

.categoryName {
  text-transform: uppercase;
  font-size: 14px;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  position: absolute;
  color: rgb(211, 211, 211);
}
