@font-face {
  font-family: NeueRegular;
  src: url("./fonts/HelveticaNeueRegular.ttf");
}

@font-face{
  font-family: NeueBold;
  src: url("./fonts/HelveticaNeueBold.ttf");
}

.header {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(161, 117, 211);
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
}

.navButton {
  display: flex;
  justify-content: center;
  color: rgb(176, 176, 176);
  font-family: NeueRegular;
  background: none;
  border: none;
}

.activeNavButton {
  height: 35px;
  width: 90px;
  color: rgb(211, 211, 211);
  font-family: NeueRegular;
  background: none;
  border: 1.5px solid rgb(230, 82, 138);
  border-radius: 20px;
  font-weight: bold;
}

.logo {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.closeButton {
  margin-top: 30px;
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgDiv {
  position: relative;
}

.categoryName {
  text-transform: uppercase;
  font-size: 12pt;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  position: absolute;
  color: rgb(211, 211, 211);
}

.pageHeader {
  font-family: NeueBold;
  color: white;
  font-size: 20pt;
  margin-top: 17px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
